<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.dotofocodex.android_sample">

    <!-- used by floating activity -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- used by main acitivty -->
    <uses-permission
        android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name=
        "android.permission.INTERNET" />

    <application
        android:name="br.com.dotofocodex.android_sample.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.MainActivity"
            android:enabled="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.ThemeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.CustomToastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.DragDropActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.FloatingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.HTMLActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.proxy.MainActivityProxy"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.ThreadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.RecyclerViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.ShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.TabActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.OrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.dotofocodex.android_sample.activity.BadgesActivity"
            android:screenOrientation="portrait" />

        <!--  Declare FloatingWidget Service over here and set enabled true -->
        <service
            android:name="br.com.dotofocodex.android_sample.service.android.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />

    </application>
</manifest>